<div class="container-fluid">
  <CENTER>
    <%=image_tag('pokemon.png', height: '400')%>
  <!-- <h1>Welcome to PoKéMoN Rainbow</h1> -->
  </CENTER>
</div>
<div class="container-fluid">
  <center>
    <h1>Welcome to Pokemon Rainbow</h1>
  </center>
</div>