<div class="container-fluid">
  <CENTER>
    <%=image_tag('pokemon.png', height: '500')%>
  <!-- <h1>Welcome to PoKéMoN Rainbow</h1> -->
  </CENTER>
</div>
<div class="container-fluid">
  <CENTER>
   <a href="#" class="rainbow-button" alt="Welcome"></a>
  </CENTER>
</div>